.header {
  background-color: var(--dark-700);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: var(--white);
    font-size: 1.8rem;
  }

  .controls {
    display: flex;
    align-items: end;
    gap: 0.8rem;

    .selectWrapper {
      display: flex;
      flex-direction: column;
  
      label {
        font-size: 0.8rem;
        color: var(--gray-100);
        margin-bottom: 0.2rem;
      }
    }

    
    select,
    button {
      background-color: var(--dark-900);
      color: var(--white);
      padding: 0.5rem 1rem;
      border: 1px solid var(--dark-700);
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s, border-color 0.3s;
    }

    select {
      appearance: none;
      outline: none;
    }

    select:hover,
    button:hover {
      background-color: var(--dark-700);
      border-color: var(--green-900);
    }
  }
}
